@{
    ViewBag.Title = "Aanvraagenvelop";
    ViewBag.Active = "Cart";
}

  <h2>Aanvraagenvelop</h2>
    U heeft nog niks toegevoegd aan uw envelop. @Html.ActionLink("Bezoek de catalogus om dingen toe te voegen aan je aanvraag.", "Index", "Store") 